<div class="sidebar">
  <div class="sidebar-title">
     <h1><a href="/">{{site.title}}</a></h1>
  </div>
  <div class="container sidebar-sticky">
    <nav class="sidebar-nav">
      <span class="lead">{{ site.description }} <a class="sidebar-more" href="/bio">More→</a></span>
      <div class="sidebar-nav-icons">
      <ul>
         <li><a href="http://twitter.com/abatalion"><i class="zocial twitter icon"></i><span>Twitter</span></a></li>
         <li><a href="http://angel.co/aaronbatalion/"><i class="zocial angellist icon"></i><span>AngelList</span></a></li>
         <li><a href="http://github.com/aaronbatalion"><i class="zocial github icon"></i><span>Github</span></a></li>
         <li><a href="http://linkedin.com/in/aaronbatalion/"><i class="zocial linkedin icon"></i><span>LinkedIn</span></a></li>
         <li><a href="mailto:aaron+blg@batalion.com"><i class="zocial email icon"></i><span>Email</span></a></li>
         <li><a href="/atom.xml"><i class="zocial rss icon"></i><span>Subscribe</span></a></li>
      </ul>
      </div>

    </nav>

  </div>
</div>
